#current-projects
{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #f7f7f7;
}

.list-group-item:first-child
{
    background-color: cadetblue;
    color: white;
}

input#inlineFormInput
{
    width: 80%;
}