.btn.btn-info
{
    margin-top: 50px;
}

.btn.btn-info:hover {
    background-color: #115D76;
    border-color: #115D76;
}

.btn.btn-primary
{
    background-color: #115D76;
    border-color: #115D76;
}
