.home-image
{
    background-image: url("../images/to_do_list.png");
    height: 500px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px;
}

.home-button
{
    background-color:pink;
}

