#current-issues
{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #f7f7f7;
}

td.done {
    text-decoration: line-through;
}

div#new-issues label.form-check-label {
    margin: 0.5em;
}