#current-projects
{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #f7f7f7;
}

li.list-group-item.active,
li.list-group-item.active:hover
{
    background-color: #115D76;
    color: white;
}

li.list-group-item:hover
{
    font-weight: bold;
}

input#inlineFormInput
{
    width: 80%;
}